/*auto*/

$font    : 'Source Sans Pro';

.CMS_hidden { display: none; }

html { background-color: #F0F0F0; }
body { background-color: #F0F0F0; padding: 0; color: gray; font-smoothing: antialiased; overflow-y: scroll; overflow-x: hidden; overflow-scrolling: touch; }
form { padding: 0; margin: 0; }

.developer { background-color: #D0D0D0; font-size: 11px; text-align: center; padding: 5px 0; display: block; color: gray; }
.developer:hover { text-decoration: none; background-color: #F0F0F0; }

.content { background-color: white; }

.header-container { background: #E0E0E0 linear-gradient(#337ab7,#5b43c1); padding: 20px 20px 0px; position: relative; }
.header-container hr { border-color: #D0D0D0; }
.header-padding { margin-top: 20px; }
.header-links-container { position: relative; }
.header-links { position: absolute; right: 0; top: 0; font-size: 15px; color: #f1f2f3; }
.header-links a { margin-left: 20px; }
.header-menu-button { display: none; float: right; font-size: 47px; color: gray; line-height: 40px; margin: 5px 0 0 0; }
.header-menu-button:hover { text-decoration: none; }
.header-menu-button:active { color: black; }

header { padding: 40px 25px; }

.search { border: 2px solid #E0E0E0; background-color: white; padding: 5px 3px; }
.search input { border: 0; padding: 0; background-color: white; border: 0; outline: 0; width: 100%; font-size: 16px; }
.search-icon { float: left; text-align: center; width: 30px; font-size: 16px; }
.search-input { margin-left: 35px; }

.categories-toggle { display: block !important; }
.categories { padding: 0 0 8px; }
.categories a { display: block; line-height: 16px; padding: 8px 0; background-color: white; text-align: center; color: gray; font-size: 14px; text-transform: uppercase; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 15px; }
.categories a:hover { background-color: #303030; color: white; text-decoration: none; }
.categories span { margin-left: 5px; }
.categories .selected { background-color: black !important; color: white; }
.categories .fa { margin-right: 5px; }
.categories-hide { display: none; }
.categories-button { margin-bottom: 18px; color: black; font-weight: bold; font-family: $font; text-transform: uppercase; }

.subcategories { padding: 0; margin-top: 10px; }
.subcategories a { display: block; line-height: 16px; padding: 8px 0; background-color: #F0F0F0; text-align: center; color: gray; font-size: 14px; text-transform: uppercase; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 15px; }
.subcategories a:hover { background-color: #303030; color: white; text-decoration: none; }
.subcategories span { margin-left: 5px; }
.subcategories .selected { background-color: black !important; color: white; }
.subcategories .fa { margin-right: 5px; }
.subcategories .up { background-color: #E0E0E0; text-transform: none; }

.breadcrumb { border-bottom: 1px solid #F0F0F0; padding: 0 25px; color: silver; display: block; height: 40px; overflow: hidden; }
.breadcrumb ul { position: relative; display: inline-block; list-style-type: none; margin: 12px 0 0 5px; padding: 0; font-size: 12px; }
.breadcrumb li { position: relative; display: inline-block; max-width: 150px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; vertical-align: middle; }
.breadcrumb a { color: gray; }
.breadcrumb li .fa { margin: 0 6px 0 10px; }
.breadcrumb-social { float: right; margin-top: 5px; }
.breadcrumb-social a { font-size: 20px; color: silver; width: 30px; text-align: right; position: relative; display: inline-block; }
.breadcrumb-social a:hover { color: black; }

.padding-container { padding: 25px 0; }
.padding { padding: 25px; }

h1, h2 { font-weight: 200; font-family: $font; margin: 0 0 30px 0; padding: 0; color: #A4A4A4; text-align: center; font-size: 40px; }

.product { margin-bottom: 20px; padding-bottom: 20px; }
.product-picture { text-align: center; display: block; padding: 10px 0; }
.product-picture img { margin: 0 auto; }
.product-name { text-align: center; font-size: 16px; font-family: $font; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.product-category { font-size: 12px; color: gray; text-align: center; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.product-price { width: 120px; margin: 20px auto; background-color: #F8F8F8; border-radius: 4px; text-align: center; font-size: 22px; font-family: $font; font-weight: 200; padding: 10px 0; color: black; }
.product-top { position: absolute; right: 10%; }
.product-manufacturer { height: 17px; text-align: center; font-size: 11px; color: #AAB2BD; margin-top: 3px; }
.product:last-child { border-bottom: 0; margin-bottom: 0; }

.detail-buy { font-size: 30px; font-weight: 200; font-family: $font; border: 1px solid silver; background-color: white; padding: 0; height: 74px; color: gray; width: 100%; }
.detail-buy b { font-weight: 400; }
.detail-buy:hover { border: 1px solid black; color: black; }
.detail-buy:active { box-shadow: inset 0 0 10px #D0D0D0; }
.detail-category { color: silver; }
.detail-checkout { display: none; background-color: #FCF8E4; padding: 25px; font-size: 14px; color: #B5AE84; line-height: 20px; margin: 10px 0; }
.detail-checkout a { color: #9E9873; }
.detail-reference { color: silver; }

.m { margin-bottom: 15px; }
.mr5 { margin-right: 5px; }
.mr15 { margin-right: 15px; }
p { margin: 0; }
.b { font-weight: bold; }
.cl { clear: both; }
.center { text-align: center; margin: 0 auto; }
.red { color: #D63B32; }
.npt { padding-top: 0; }
.npb { padding-bottom: 0; }
.nmt { margin-top: 0; }
.nmb { margin-bottom: 0; }

.links > div { margin: 0; border-left: 1px solid #F0F0F0; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; padding: 0; }
.links > div:first-child { border-left: 0; }
.links a { display: block; text-align: center; padding: 20px 0; color: gray; background-color: white; font-size: 18px; font-family: $font; font-weight: 200; text-transform: uppercase; }
.links a:hover { text-decoration: none; background-color: #E0E0E0; }
.links span { display: block; font-size: 12px; font-family: Arial; text-transform: none; }

footer { text-align: center; font-size: 12px; padding: 20px 0; color: gray; }
.social a { font-size: 20px; color: silver; width: 30px; text-align: center; position: relative; display: inline-block; }
.social a:hover { color: black; }

.newsletter { background-color: #F0F0F0; }
.newsletter-input { margin-right: 120px; padding: 0 20px; background-color: #F0F0F0; }
.newsletter-input input { width: 100%; background-color: transparent; border: 0; font-size: 16px; height: 40px; outline: 0; color: black; }
.newsletter-button { width: 120px; float: right; margin: 0; padding: 0; }
.newsletter-button button { width: 100%; background-color: #D0D0D0; border: 0; height: 40px; }
.newsletter-button button:hover { background-color: black; color: white; }
.newsletter-button .fa { margin-right: 8px; font-size: 16px; }
.newsletter-success { color: #7B9B46 !important; }

.checkoutbutton-label { color: white; display: block; }
.checkoutbutton-label .fa { margin-right: 5px; }
.checkoutbutton { font-size: 20px; color: white; display: block; padding: 5px 0; font-family: $font; line-height: 20px; }
.checkoutbutton:hover { text-decoration: none; border-color: silver; color: red; }

.checkoutlist input { border: 0; background-color: white; text-align: center; width: 100%; outline: 0; margin: 0; font-size: 16px; border: 2px solid #E0E0E0; }
.checkoutlist td { vertical-align: middle !important; }
.checkoutlist .fa-times-circle { color:red; cursor:pointer; margin-left:10px; }
.checkoutlist .fa-calculator { margin-left:10px; }
.checkoutlist-label { float: left; margin-right: 5px; font-weight: normal; }

.pagination { padding: 15px 0 5px; text-align: center; }
.pagination nav { margin: 10px 0 15px; }
.pagination nav a { position: relative; display: inline-block; width: 30px; padding: 5px 0; text-align: center; font-size: 16px; border-radius: 3px; }
.pagination nav .selected { background-color: #F0F0F0; color: silver; }

.linkbutton { display: block; border: 1px solid #E0E0E0; color: #9F9F9F; padding: 15px 0; text-align: center; text-transform: uppercase; font-size: 20px; font-family: $font; }
.linkbutton:hover { border-color: silver; text-decoration: none; color: black; }
.linkbutton .fa { margin-right: 5px; }
.linkbutton img { vertical-align: middle; margin: 1px 10px 0 0; }
.linkbutton-small { padding: 10px 0; font-size: 16px; }

.orders > div { border: 1px solid #E0E0E0; border-top: 0; padding: 10px; }
.orders > div:first-child { border-top: 1px solid #E0E0E0; }
.orders > div:nth-child(odd) { background-color: #F8F8F8; }

.social-oauth2 div { text-align: center; margin-top: 20px; }
.social-oauth2 a { display: block; background-color: #F8F8F8; padding: 10px 0; border-radius: 4px; color: gray; }
.social-oauth2 a span { font-size: 30px; text-decoration: none; }
.social-oauth2 b { font-size: 11px; display: block; margin: 5px 0 0 0; font-weight: normal; }
.social-oauth2 a:hover { text-decoration: none; background-color: #36CAFD; color: white; }
.social-oauth2 a:active { box-shadow: inset 0 0 10px rgba(0,0,0,0.5); }

.message-success { background-color: #8CC152; color: white; padding: 18px 20px; text-align: center; font-size: 16px; }
.bg-smoke { background-color: #F8F8F8; }

.button { padding: 20px 0; width: 100%; font-size: 16px; }
.button-small { padding: 10px 0; font-size: 14px; }

.silver { color: #A0A0A0; }
.black { color: black; }
.green { color: #8CC152; }
.blue { color: #377BB5; }

#loading { background: rgba(255,255,255,0.9) url(../img/preloader.gif) no-repeat 50% 50%; position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 10; }
.fs11 { font-size: 11px; line-height: 14px; }
.table-repsonsive-label { float: left; display: none; }

@media(max-width: 767px) {
	.xs-center { text-align: center !important; }
	.categories { display: none; }
	.categories a { margin-bottom: 10px; }
	.categories-hide { display: block; }
	.header-padding { padding: 0; }
	.header-links-container { display: none; }
	.links > div { border-bottom: 0; }
	h1, h2 { font-size: 25px; }
	.orders .col-sm-4 { border-bottom: 1px solid #E0E0E0; text-align: left !important; padding: 10px 0; }
	.orders .col-sm-4:last-child { border-bottom: 0; }
	.checkoutbutton-container { float: left; }
	.checkoutbutton-container .xs-center { text-align: left !important; }
	.checkoutbutton { width: 100%; padding: 10px 0 0; font-weight: 700; font-size: 23px; }
	.checkoutlist { border: 0; }
	.checkoutlist tr { display: block !important; margin-bottom: 10px; border-bottom: 2px solid #E0E0E0; }
	.checkoutlist td { display: block !important; width: 100%; border: 0 !important; }
	.checkoutlist td:first-child { font-size: 16px; }
	.checkoutlist td:last-child { margin-bottom: 5px; padding-top: 0; }
	.checkoutlist td:nth-child(2) { display: none !important; }
	.checkoutlist .active { background-color: white !important; }
	.checkoutlist .warning { background-color: white !important; }
	.checkoutlist input { text-align: left; padding: 4px 8px; }
	.checkoutlist .ui-right { text-align: left !important; }
	.header-menu-button { display: block; }
	.table-responsive { border: 0; }
	.table-responsive tr { display: block !important; margin-bottom: 10px; border-bottom: 2px solid #E0E0E0; }
	.table-responsive td { display: block !important; width: 100%; border: 0 !important; padding: 2px 0 !important; }
	.table-responsive .active { padding-left: 5px !important; }
	.table-responsive .warning td { padding-left: 5px !important; }
	.table-responsive td:last-child { margin-bottom: 10px; }
	.table-responsive .ui-center { text-align: left !important; }
	.table-repsonsive-label { display: block; }
	td.hidden-xs { display: none !important; }
	.product { border-bottom: 1px solid #F0F0F0; }
}

.quicknavigation a { border-left: 1px solid #F0F0F0; padding: 5px 15px; font-size: 12px; }
.quicknavigation a:first-child { border-left: 0; }
.quicknavigation .fa { margin-right: 5px; }
